@{
    ViewData["Title"] = "About";
}

<style>
    .paralax {
        background: url('/images/PC_Index.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div class="paralax" style=" height: 700px">

</div>

<div style="height: 1000px">

</div>

@*<img src="~/images/PC_Index.jpg" style="width: 100%; height: 800px" />
<img src="~/images/PC_Index_2.jpg" style="width: 100%; height: 800px" />
<img src="~/images/Tropical_Index.jpg" style="width: 100%; height: 800px" />*@