@using GayChat.Extensions
@{
    ViewData["Title"] = "Home Page";
}

@inject SignInManager<ApplicationUser> SignInManager




<div class="parallax-window imageSize" id="first" data-parallax="scroll" data-image-src="/images/PC_Index_4.jpg">

    <div class="indexTopic" id="indexTopic">
        <div>
            <div>
                <p>Telehram</p>

                <h3>A new way of sacred chating</h3>
            </div>

            <a class="btn waves-effect baton-inversed praylink">PRAY</a>

        </div>
    </div>

</div>





<div class="parallax-window imageSize" id="second" data-parallax="scroll" data-image-src="/images/PC_Index.jpg">

    <div class="indexTopic">
        <div>

            <div id="reg">
                <p>Sign Up</p>

                <a href="/Account/Register" class="btn waves-effect">Sign up</a>
            </div>

            <div id="log">

                <p>Login</p>

                <a href="/Account/Login" class="btn waves-effect">Login</a>
            </div>

        </div>
    </div>

</div>

<link href="~/css/IndexStyle.css" rel="stylesheet" />