@{
    ViewData["Title"] = "Home Page";
}


<div style="position: relative; width: 100%; padding-bottom: 1080px">
    
    <img src="https://wallpaperscraft.com/image/tropical_island_palm_trees_90880_1920x1080.jpg" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; filter: blur(3px)"/>

    <div class="inner" style="position: absolute; width: 800px; height: 50px; top: 350px; text-align: center">
        <h1 style="color: white; border-top: 1px solid white;  border-bottom: 1px solid white; letter-spacing: 4px; width: 365px; margin: auto"> 
            GAY CHAT
        </h1>

        <h4 style="color: white; margin-bottom: 15px">A new way of GAY chating</h4>

        <div style="width: 370px; height: 60px; margin: auto;">

            <a class="waves-effect waves-light btn btn-large" href="/Account/Login" style="float: left; width: 150px; background-color: transparent; border: 1px solid white">Sign in </a>

            <a class="waves-effect waves-light btn btn-large" href="/Account/Register" style="float: right; width: 150px; background-color: transparent; border: 1px solid white">Sign up</a>

        </div>

    </div>

</div>


<style>

    .inner{
        left: 50%;
        margin-left: -400px;
    }

</style>

    @*<section style="
    text-align:center;
    color:deepskyblue;
    ">
    <img style=" 
width:150px;
 margin:auto;
 margin-top: 50px;"
src="~/images/CoatofArms.png" >

        <h1 
    style="
    margin-top:50px;
    font-size:45px;
    margin-bottom:10px;
    letter-spacing: 3px
    ">
    GAY CHAT
        </h1>

        <h5>A new way of GAY chating</h5>
    </section>

    <section style="
    text-align:center;
    margin:auto;
    margin-top:1%;

    ">
        <a class="waves-effect waves-light btn" href="/Account/Login" style="margin: 15px;" >Sign in </a>

        <a class="waves-effect waves-light btn" href="/Account/Register" style="margin: 15px;">Sign up</a>
    </section>*@