@using System.Collections.Generic
@using GayChat.Extensions
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";

    string width = "450px";
    string fontsizeForTitle = "25px";
    string inputWeight = "70%";

    if (Context.Request.IsMobile())
    {
        width = "300px";
        fontsizeForTitle = "20px";
        inputWeight = "80%";
    }

}

<link href="~/css/LoginStyle.css" rel="stylesheet" />

<div style="width: @width; margin: auto; margin-top: 5%; box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4); padding-top: 7px; padding-bottom: 1px">
    <p class="Title2" style="font-size: @fontsizeForTitle">Sign In</p>
    <div class="row">
        <section>
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <div asp-validation-summary="All" class="text-danger"></div>
                @*<div class="form-group">
                        <label asp-for="Email" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>*@

                <div class="row" style="width: @inputWeight; margin: auto; margin-bottom: 18px">
                    <div class="input-field">
                        <input asp-for="Email" type="email" class="validate" style="margin: 0px">
                        <label for="email" asp-for="Email">Email</label>
                    </div>
                </div>

                <div class="row" style="width: @inputWeight; margin: auto;">
                    <div class="input-field" style="margin-top: 2px">
                        <input asp-for="Password" type="password" class="validate" style="margin: 0px">
                        <label for="password" asp-for="Password">Password</label>
                    </div>
                    <a asp-action="ForgotPassword" style="margin: 0;">Forgot your password?</a>
                </div>

                @*<div class="form-group">
                        <label asp-for="Password" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>*@

                <button type="submit" class="btn waves-effect waves-light BUTT1" style="margin-top: 14px">Log in</button>

            </form>
        </section>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
