@using GayChat.Extensions

@{
    ViewData["Title"] = "UserChat";
}

@if (!Context.Request.IsMobile())
{


}


<div style="width: 500px; height: 600px; margin: auto; position: relative; margin-top: 30px; background-color: white; box-shadow: 0px 3px 7px rgba(0,0,0,0.5); overflow: hidden">

    <div style="height: 60px; width: 100%; ">
        {{chatterFullName}}
    </div>

    <div style="overflow-y: auto; height: 480px; width: 521px; background-color: blue">

        <div style="height: 1000px">

        </div>

    </div>

    <div style="position: absolute; bottom: 0px; left: 0px; background-color: red; width: 100%; height: 60px">

    </div>

</div>

    @*<p> {{chatterId}} </p>*@



