
.Title2 {
    color: rgba(0, 0, 0, 1);
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}
.BUTT1 {
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    height: 34px;
    width: 130px;
    font-size: 13px;
    padding-left: 40px;
}
.REMEMBER1 {
    text-align: center;
    
}
.BottomStuff1 {
    margin-top:15%;
}
#REG1 {
    float:left;
    margin-left:20px;
}
#NOACC1 {
    float: right;
    margin-right: 20px;
}