@{
    ViewData["Title"] = "Home Page";
}


<section style="
    text-align:center;
    color:deepskyblue;
    ">
    <img style="
width:90px;
 height:90px;
 margin:auto;
 margin-top:10%;"
         src="~/images/CoatofArms.png">

    <h1 style="
    margin-top:10%;
    font-size:45px;
    margin-bottom:10px;">
        GAY CHAT
    </h1>

    <h5>A new way of GAY chating</h5>
</section>

<section style="
    text-align:center;
    margin:auto;
    margin-top:1%;

    ">
    <a class="waves-effect waves-light btn" style="margin: 15px;">Sign in </a>

    <a class="waves-effect waves-light btn" style="margin: 15px;">Sign up</a>
</section>